@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.correct {
  background-color: green !important;
}

.wrong {
  background-color: red !important;
}

ul { @apply list-disc }

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

